h1 {
    color: red;
}

p {
    color: red;
}

a {
    color: #000;
    text-decoration: none;
}

.index-page-content ul {
    display: table;
    margin: 0 auto;
}

.file-page-content {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}