h1 {
    text-align: center;
    font-size: 38px
}

a {
    color: #000;
    text-decoration: none;
    font-size: 19px;
}

a:hover {
	text-decoration: underline;
}

p {
	text-align: center;
	font-size: 19px;
}

.index-page-content {
    display: table;
    margin: 0 auto;
    list-style-type: none;
}

.index-page-content li {
	margin-bottom: 15px;
}

.file-page-content {
    margin-left: auto;
    margin-right: auto;
    width: 2em;
}