{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{% static 'filemanager/css/style.css' %}">
</head>
<body>
    <h1>
        Files
    </h1>
    {% if file_list %}
        <ul class="index-page-content">
        {% for file in file_list %}
            <li><a href="/filemanager/{{ file.name }}/">{{ file.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No files are available.</p>
    {% endif %}
    <form action="handleFile" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="filename" required>
        <label for="shift">Shift</label>
        <input type="number" name="shift" required>
        <input type="submit" value="Upload">
    </form>
    <form action="removeFile" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">File to delete</label>
        <input type="text" name="name">
        <input type="submit" value="Delete">
    </form>
</body>
</html>